{% extends "_layouts/default.njk" %}

{% block body %}

  {# <h1>Ola, {{ user.name }}</h1>
  <a href="/app/logout">Sair</a> #}

  <div class="content">
    <strong>Ola, {{ user.name }}</strong>
    <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

    <ul class="providers">
      {% for provider in providers %}
        <li class="provider">
          <div>
            <img src="/files/{{ provider.avatar }}" />
            <strong>{{ provider.name }}</strong>
          </div>
          <a href="/app/appointments/new/{{ provider.id }}">+</a>
        </li>
      {% endfor %}
    </ul>

    {% if (user.provider === true) %}
      <a href="/app/schedule" class="agendamentos">Meus agendamentos</a>
    {% endif %}
    <a href="/app/logout" class="logout">Sair</a>

  </div>


{% endblock %}
